.portfolio {
    width: 100vw;
    padding: 20px; /* Added padding for spacing on all sides */
    box-sizing: border-box; /* Ensures padding is included in the width */
  
    /* Responsive height for smaller screens */
    height: auto;
    min-height: 100vh; /* Minimum height of the viewport */
    max-height: 100vh; /* Maximum height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
  #portfolio {
    /* Adjusted height for smaller screens */
    height: auto;
    text-align: center;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* On smaller screens, display cards in a single column */
    gap: 20px;
  }
  
  .source {
    width: 100%; /* Adjusts the width to fit the container */
    height: auto; /* Maintains aspect ratio */
    max-width: 400px; /* Limits the maximum width of the image */
    max-height: 250px; /* Limits the maximum height of the image */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
  }
  
  .heading {
    color: white;
  }
  
  #github {
    width: 25px;
    height: 25px;
  }
  
  @media screen and (max-width: 1920px) {
    
  }

  //Large laptop size screens
@media screen and (max-width: 1440px){
    
}

//Laptop size screens
@media screen and (max-width: 1024px){

}

//Tablet size screens
@media screen and (max-width: 768px){

}

//Mobile Large size screens
@media screen and (max-width: 425px){

}

//Mobile Medium size screens
@media screen and (max-width: 375px){

}

//Mobile Small size screens
@media screen and (max-width: 320px){

}


  /* Media query for adjusting styles on smaller screens */
  @media screen and (min-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* Show two cards per row on medium-sized screens */
    }
  }
  
  @media screen and (min-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr); /* Show three cards per row on larger screens */
    }
  }
  