

  .resumeContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .textSection {
    width: 50%;
  }
  
  .imageSection {
    width: 500px;
    height: 550px;
  }

  p{
    font-size: 20px;
  }

  ol{
    color: whitesmoke;
    font-size: 20px;
  }

  .skills{
    color: #54b3b0;
    font-size: 35px;
    text-decoration: underline;
  }
  .list{
    line-height: 45px;
  }

  @media screen and (max-width: 1920px) {
    
  }

  //Large laptop size screens
@media screen and (max-width: 1440px){
    
}

//Laptop size screens
@media screen and (max-width: 1024px){

}

//Tablet size screens
@media screen and (max-width: 768px){

}

//Mobile Large size screens
@media screen and (max-width: 425px){

}

//Mobile Medium size screens
@media screen and (max-width: 375px){

}

//Mobile Small size screens
@media screen and (max-width: 320px){

}