.homePage {
height: 750px;
width: 100vw;

}
#photo {
border-radius: 200px;
width: 300px;
margin-left: 100px;
}

#aboutme {
text-align: center;

}

h1{
    padding-bottom: 40px;
    color: #651b4b;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-shadow: 
    2px 2px rgb(255, 128, 255);
}

p{
    color: whitesmoke;
    padding-bottom: 20px;
}