.homePage {
    /* background: url("../../assets/Images/Logo.png") black no-repeat center / cover;
    background-size: contain; */
}
#photo {
border-radius: 200px;
width: 300px;
margin-left: 100px;
}

#aboutme {
font-size: 25px;
font-family: "Roboto Slab", serif;
}
h1{
    padding-bottom: 40px;
}

p{
    color: whitesmoke;
    padding-bottom: 20px;
}