.neonText {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 40px;
  color: black;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #54b3b0,
    0 0 80px #54b3b0, 0 0 90px #54b3b0, 0 0 100px #54b3b0, 0 0 150px #54b3b0, 0 0 200px #54b3b0,
    0 0 250px #54b3b0;
}

.neonText ul {
  display: flex;
  margin-right: 20px; /* Adjusted spacing between items for smaller screens */
}

.github-image,
.linkedin-image,
.instagram-image,
.facebook-image,
.bloodhaven-image {
  width: 25px; /* Reduced size for smaller screens */
  height: 25px; /* Reduced size for smaller screens */
  margin-top: 15px; /* Adjusted margin for smaller screens */
}

.flicker {
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #54b3b0,
      0 0 80px #54b3b0, 0 0 90px #54b3b0, 0 0 100px #54b3b0, 0 0 150px #54b3b0,
      0 0 200px #54b3b0, 0 0 250px #54b3b0;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .neonText {
    font-size: 30px; /* Adjusted font size for smaller screens */
  }

  .neonText ul {
    margin-right: 10px; /* Further reduced spacing between items for smaller screens */
  }

  .github-image,
  .linkedin-image,
  .instagram-image,
  .facebook-image,
  .bloodhaven-image {
    width: 15px; /* Further reduced size for smaller screens */
    height: 15px; /* Further reduced size for smaller screens */
    margin-top: 10px; /* Adjusted margin for smaller screens */
  }
}
